@use '../../../styles/variables';
.category-list{

}
.category {
 width:300px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product {
  background-color: #eee;
padding:10px;
border-radius: 10px;
width: calc((100% - 20px) / 3);
min-width: 200px;
}
.product img {
    width:100%;
    aspect-ratio: 1;
    object-fit: cover;
}
