@use "../../../styles/variables";

.blocks {
    &__container {
        text-align: center;
            p {
                padding-bottom: 0;
            }
        }
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        list-style-type: none;
        padding-left:0;
        :hover {
          //opacity: 0.8;
          color: variables.$color-black;
        }
        :nth-child(1) :hover {
            background-color: variables.$color-warning;
        }
        :nth-child(2) :hover {
            background-color: variables.$color-error;
        }
        :nth-child(3) :hover {
            background-color: variables.$color-success;
        }
        :nth-child(4) :hover {
            background-color: variables.$color-active;
        }
        :nth-child(5) :hover {
            background-color: variables.$color-other;
        }
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
        li {
            width: 100%;
        }
        
    }
    &__block {
        width: 100%;
        min-height: 300px;
        padding: 20px;
        background-color: variables.$color-black;
        color: variables.$color-white;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1024px) {
            min-height: 100px;
        }
        
    }
}
