@use "../../../styles/variables";
.gallery {
    overflow: hidden;
    margin: 0;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: 30vh;
    }

    &__container {
        width: 100%;
        display: flex;
        padding: 0 20px;

        @media screen and (max-width: 768px) {
            padding: 0;
        }

        :nth-child(1) {
            background-image: url("../../images/gallery/DSC3158.jpg");
        }
        :nth-child(2) {
            background-image: url("../../images/gallery/DSC3401.jpg");
        }
        :nth-child(3) {
            background-image: url("../../images/gallery/DSC2452.jpg");
        }
        :nth-child(4) {
            background-image: url("../../images/gallery/DSC3371.jpg");
        }
        :nth-child(5) {
            background-image: url("../../images/gallery/DSC1887.jpg");
        }
    }

    &__slide {
        height: 45vh;
        border-radius: 30px;
        margin: 10px;
        cursor: pointer;
        color: #fff;
        flex: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        transition: all 500ms ease-in-out;
        opacity: 0.4;

        @media screen and (max-width: 768px) {
        height: 25vh;
        margin: 5px;
    }
    }
    &__slide h3 {
        position: absolute;
        font-size: 24px;
        bottom: 20px;
        left: 20px;
        margin: 0;
        opacity: 0;
    }

    &__slide.active {
        flex: 10;
        opacity: 1;
    }
    &__slide.active h3 {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
    }
}
