@use '/src/index.scss';
@use '../styles/variables';
@use '../styles/mixins';
@use '../styles/my-reset';
@use '../styles/normalize';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
 height: 100%;
 /*  background-color: #9f9f9f; */
}

#root {
  height: 100%;
/*   display: flex; 
  flex-direction: column;
  align-items: center;
  height: 100vh; */
}
p {
  margin-top: 0.5rem;
  line-height: 1.5;
}
h1 {
  font-size: 32px;
  margin-bottom: 0.7rem;
}
h2 {
  font-size: 24px;
  margin: 1rem 0;
  @media screen and (max-width: 768px) {
    font-size: 21px;
  }
}
h3 {
  font-size: 19px;
  margin: 0.7rem 0;
}
h4 {
  font-size: 16px;
  margin: 0.7rem 0;
}
ul,ol{
  padding-left: 30px;
  margin:1rem 0;
}
ul {
  list-style-type: disc;
  ul{
    list-style-type: circle;
  }
}
ol {
  list-style-type: decimal;

}
li {
  margin-top: 0.5rem;
  line-height: 1.5;
}
main {
  max-width: variables.$max-width;
  width: 100%;;
  padding: 1rem;
  padding-top: 2rem;
  flex-grow: 1;
}
.container {
  max-width: variables.$max-width;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin: 0 auto;
}
.content {
  padding: 1rem ;
  flex-grow: 1;
  width: 100%;
}
section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.centered {
  text-align: center;
}
.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.link {
  text-decoration: none;
}
.link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.button {
 background-color: #777777;
 border-radius: 10px;
 padding:10px 15px
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.logo {
  font-weight: 600;
  font-size: 27px;
  min-width: 142px;
}